{
   "info":{
      "title":"Notes API Documentation",
      "version":"2.0.0",
      "description":"\nWelcome to the Notes API Documentation. \n\nThis API allows you to manage notes and organize them according to different categories. \n\n## Features\n- Create notes with title and content.\n- Categorize notes into different categories.\n- Update and delete notes.\n- Search notes by title or category.\n\nThis API is also utilized as a backend for the [Notes App available here](https://practice.expandtesting.com/notes/app/).\n\n\n\n## API Authorization Guide\n\nTo use this API, you must first have a valid account on the system and know your email and password. Once you have that information:\n\nLog in to the API using the **login endpoint**. This will provide you with an authentication token that you can use to access the protected resources.\n\nKeep the token safe, as you will need it for subsequent requests.\n\nTo authorize your requests, click the \"**Authorize**\" button on the top right corner of the Swagger UI interface. A dialog box will appear asking you to enter the authentication token.\nEnter the token you obtained from the login endpoint and click \"**Authorize**\".\n\nYou are now authorized to use all the protected API endpoints.\n\n\n\nIf you need help using this API, check out our **video guide and demo**, which are available [here](https://www.youtube.com/watch?v=bQYvS6EEBZc?sub_confirmation=1)\n\n## Contact Information\n\nIf you have any questions or feedback, please do not hesitate to contact us via [email](mailto:expand.testing@gmail.com)\n\n\n\n\n",
      "contact":{
         "email":"expand.testing@gmail.com"
      }
   },
   "host":"practice.expandtesting.com",
   "basePath":"/notes/api",
   "schemes":[
      "https",
      "http"
   ],
   "externalDocs":{
      "description":"Find out more about Expand Testing",
      "url":"https://expandtesting.com"
   },
   "securityDefinitions":{
      "xAuthToken":{
         "type":"apiKey",
         "name":"x-auth-token",
         "in":"header"
      }
   },
   "swagger":"2.0",
   "paths":{
      "/health-check":{
         "get":{
            "tags":[
               "Health"
            ],
            "summary":"Check the health of the API Notes service",
            "description":"Use this API endpoint to check if the server is running and healthy",
            "responses":{
               "200":{
                  "$ref":"#/responses/Success"
               },
               "500":{
                  "$ref":"#/responses/InternalErrorServer"
               }
            }
         }
      },
      "/users/register":{
         "post":{
            "tags":[
               "Users"
            ],
            "summary":"Creates a new user account",
            "description":"Returns the newly created user object",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"name",
                  "description":"User's name",
                  "in":"formData",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"email",
                  "description":"User's email address",
                  "in":"formData",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"password",
                  "description":"User's password",
                  "in":"formData",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "201":{
                  "description":"User account created successfully",
                  "schema":{
                     "type":"object",
                     "properties":{
                        "success":{
                           "type":"boolean",
                           "example":true
                        },
                        "status":{
                           "type":"integer",
                           "example":201
                        },
                        "message":{
                           "type":"string",
                           "example":"User account created successfully"
                        },
                        "data":{
                           "type":"object",
                           "properties":{
                              "id":{
                                 "type":"integer",
                                 "example":6
                              },
                              "name":{
                                 "type":"string",
                                 "example":"practice"
                              },
                              "email":{
                                 "type":"string",
                                 "example":"practice@expandtesting.com"
                              }
                           }
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request - Invalid input data",
                  "schema":{
                     "type":"object",
                     "properties":{
                        "success":{
                           "type":"boolean",
                           "example":false
                        },
                        "status":{
                           "type":"integer",
                           "example":400
                        },
                        "message":{
                           "type":"string",
                           "example":"Invalid input data"
                        }
                     }
                  }
               }
            }
         }
      },
      "/users/login":{
         "post":{
            "tags":[
               "Users"
            ],
            "summary":"Log in as an existing user",
            "description":"Authenticate a user and return access token",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"email",
                  "description":"User email",
                  "in":"formData",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"password",
                  "description":"User password",
                  "in":"formData",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"Login successful",
                  "schema":{
                     "type":"object",
                     "properties":{
                        "success":{
                           "type":"boolean",
                           "example":true
                        },
                        "status":{
                           "type":"integer",
                           "example":200
                        },
                        "message":{
                           "type":"string",
                           "example":"Login successful"
                        },
                        "data":{
                           "type":"object",
                           "properties":{
                              "id":{
                                 "type":"string",
                                 "example":"64189a74314e9f0218a5213c"
                              },
                              "email":{
                                 "type":"string",
                                 "example":"practice@expandtesting.com"
                              },
                              "name":{
                                 "type":"string",
                                 "example":"practice"
                              },
                              "token":{
                                 "type":"string",
                                 "example":"728eb6906b0a4e83a7d789a0da9801..."
                              }
                           }
                        }
                     }
                  }
               },
               "400":{
                  "$ref":"#/responses/BadRequest"
               },
               "401":{
                  "$ref":"#/responses/UnauthorizedRequest"
               },
               "500":{
                  "$ref":"#/responses/InternalErrorServer"
               }
            }
         }
      },
      "/users/profile":{
         "get":{
            "tags":[
               "Users"
            ],
            "summary":"Retrieve user profile information",
            "description":"Returns the profile information for the logged-in current user.",
            "security":[
               {
                  "xAuthToken":[
                     
                  ]
               }
            ],
            "produces":[
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"User profile information retrieved successfully",
                  "schema":{
                     "type":"object",
                     "properties":{
                        "success":{
                           "type":"boolean",
                           "example":true
                        },
                        "status":{
                           "type":"number",
                           "example":200
                        },
                        "message":{
                           "type":"string",
                           "example":"Profile successful"
                        },
                        "data":{
                           "type":"object",
                           "properties":{
                              "id":{
                                 "type":"string",
                                 "example":"64189a74314e9f0218a5213c"
                              },
                              "name":{
                                 "type":"string",
                                 "example":"Practice User"
                              },
                              "email":{
                                 "type":"string",
                                 "example":"practice@expandtesting.com"
                              },
                              "phone":{
                                 "type":"string",
                                 "example":"0123456789"
                              },
                              "company":{
                                 "type":"string",
                                 "example":"Expand Testing"
                              }
                           }
                        }
                     }
                  }
               },
               "400":{
                  "$ref":"#/responses/BadRequest"
               },
               "401":{
                  "$ref":"#/responses/UnauthorizedRequest"
               },
               "500":{
                  "$ref":"#/responses/InternalErrorServer"
               }
            }
         },
         "patch":{
            "tags":[
               "Users"
            ],
            "summary":"Update the user profile information",
            "description":"Update the user profile information for the logged-in user",
            "produces":[
               "application/json"
            ],
            "security":[
               {
                  "xAuthToken":[
                     
                  ]
               }
            ],
            "parameters":[
               {
                  "name":"name",
                  "description":"User's name",
                  "in":"formData",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"phone",
                  "description":"User's phone number",
                  "in":"formData",
                  "required":false,
                  "type":"string",
                  "allowEmptyValue":true
               },
               {
                  "name":"company",
                  "description":"User's company name",
                  "in":"formData",
                  "required":false,
                  "type":"string",
                  "allowEmptyValue":true
               }
            ],
            "responses":{
               "200":{
                  "description":"Profile updated successful",
                  "schema":{
                     "type":"object",
                     "properties":{
                        "success":{
                           "type":"boolean",
                           "example":true
                        },
                        "status":{
                           "type":"integer",
                           "example":200
                        },
                        "message":{
                           "type":"string",
                           "example":"Profile updated successful"
                        },
                        "data":{
                           "type":"object",
                           "properties":{
                              "id":{
                                 "type":"string",
                                 "example":"64189a74314e9f0218a5213c"
                              },
                              "name":{
                                 "type":"string",
                                 "example":"Practice User"
                              },
                              "email":{
                                 "type":"string",
                                 "example":"practice@expandtesting.com"
                              },
                              "phone":{
                                 "type":"string",
                                 "example":"0123456789"
                              },
                              "company":{
                                 "type":"string",
                                 "example":"Expand Testing"
                              }
                           }
                        }
                     }
                  }
               },
               "400":{
                  "$ref":"#/responses/BadRequest"
               },
               "401":{
                  "$ref":"#/responses/UnauthorizedRequest"
               },
               "500":{
                  "$ref":"#/responses/InternalErrorServer"
               }
            }
         }
      },
      "/users/forgot-password":{
         "post":{
            "tags":[
               "Users"
            ],
            "summary":"Send password reset link to user's email",
            "description":"Sends a password reset link to the user's email address, allowing them to reset their password",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"email",
                  "description":"User email",
                  "in":"formData",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"Password reset link sent successfully",
                  "schema":{
                     "type":"object",
                     "properties":{
                        "success":{
                           "type":"boolean",
                           "description":"Indicates whether the password reset link was sent successfully"
                        },
                        "status":{
                           "type":"number",
                           "description":"HTTP status code"
                        },
                        "message":{
                           "type":"string",
                           "description":"Success message indicating that the password reset link was sent successfully",
                           "example":"Password reset link successfully sent to practice@expandtesting.com. Please verify by clicking on the given link"
                        }
                     }
                  }
               },
               "400":{
                  "$ref":"#/responses/BadRequest"
               },
               "500":{
                  "$ref":"#/responses/InternalErrorServer"
               }
            }
         }
      },
      "/users/verify-reset-password-token":{
         "post":{
            "tags":[
               "Users"
            ],
            "summary":"Verify a password reset token",
            "description":"Verify that the provided password reset token",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"token",
                  "description":"The password reset token received via email",
                  "in":"formData",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"The provided password reset token is valid",
                  "schema":{
                     "type":"object",
                     "properties":{
                        "success":{
                           "type":"boolean",
                           "description":"Indicates whether the token is valid"
                        },
                        "status":{
                           "type":"number",
                           "description":"HTTP status code"
                        },
                        "message":{
                           "type":"string",
                           "description":"Success message indicating that the token is valid",
                           "example":"The provided password reset token is valid"
                        }
                     }
                  }
               },
               "400":{
                  "$ref":"#/responses/BadRequest"
               },
               "500":{
                  "$ref":"#/responses/InternalErrorServer"
               }
            }
         }
      },
      "/users/reset-password":{
         "post":{
            "tags":[
               "Users"
            ],
            "summary":"Reset a user's password",
            "description":"Reset a user's password with a valid password reset token and a new password",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"token",
                  "description":"The password reset token received via email",
                  "in":"formData",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"newPassword",
                  "description":"The new password for the user's account",
                  "in":"formData",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"The password was successfully reset",
                  "schema":{
                     "type":"object",
                     "properties":{
                        "success":{
                           "type":"boolean",
                           "description":"Indicates whether the password reset was successful"
                        },
                        "status":{
                           "type":"number",
                           "description":"HTTP status code"
                        },
                        "message":{
                           "type":"string",
                           "description":"Success message indicating that the password reset was successful",
                           "example":"The password has been successfully reset"
                        }
                     }
                  }
               },
               "400":{
                  "$ref":"#/responses/BadRequest"
               },
               "500":{
                  "$ref":"#/responses/InternalErrorServer"
               }
            }
         }
      },
      "/users/change-password":{
         "post":{
            "tags":[
               "Users"
            ],
            "summary":"Change a user's password",
            "description":"Change a user's password by providing the user's current password and the new password.",
            "security":[
               {
                  "xAuthToken":[
                     
                  ]
               }
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"currentPassword",
                  "description":"The current password",
                  "in":"formData",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"newPassword",
                  "description":"The new password",
                  "in":"formData",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"The password was successfully updated",
                  "schema":{
                     "type":"object",
                     "properties":{
                        "success":{
                           "type":"boolean",
                           "description":"Indicates whether the password change was successful"
                        },
                        "status":{
                           "type":"number",
                           "description":"HTTP status code"
                        },
                        "message":{
                           "type":"string",
                           "description":"Success message indicating that the password change was successful",
                           "example":"The password was successfully updated"
                        }
                     }
                  }
               },
               "400":{
                  "$ref":"#/responses/BadRequest"
               },
               "500":{
                  "$ref":"#/responses/InternalErrorServer"
               }
            }
         }
      },
      "/users/logout":{
         "delete":{
            "tags":[
               "Users"
            ],
            "summary":"Log out a user",
            "description":"Log out the currently authenticated user by invalidating their token.",
            "security":[
               {
                  "xAuthToken":[
                     
                  ]
               }
            ],
            "responses":{
               "200":{
                  "$ref":"#/responses/Success"
               },
               "400":{
                  "$ref":"#/responses/BadRequest"
               },
               "401":{
                  "$ref":"#/responses/UnauthorizedRequest"
               },
               "500":{
                  "$ref":"#/responses/InternalErrorServer"
               }
            }
         }
      },
      "/users/delete-account":{
         "delete":{
            "tags":[
               "Users"
            ],
            "summary":"Delete user account",
            "description":"Deletes the authenticated user account",
            "security":[
               {
                  "xAuthToken":[
                     
                  ]
               }
            ],
            "responses":{
               "200":{
                  "$ref":"#/responses/Success"
               },
               "400":{
                  "$ref":"#/responses/BadRequest"
               },
               "401":{
                  "$ref":"#/responses/UnauthorizedRequest"
               },
               "500":{
                  "$ref":"#/responses/InternalErrorServer"
               }
            }
         }
      },
      "/notes":{
         "post":{
            "tags":[
               "Notes"
            ],
            "summary":"Create a new note",
            "description":"Creates a new note with the given title, description, category and user id.",
            "security":[
               {
                  "xAuthToken":[
                     
                  ]
               }
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"title",
                  "description":"Title of the note",
                  "in":"formData",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"description",
                  "description":"Description of the note",
                  "in":"formData",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"category",
                  "description":"Note category",
                  "in":"formData",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "Home",
                     "Work",
                     "Personal"
                  ]
               }
            ],
            "responses":{
               "200":{
                  "$ref":"#/responses/SuccessOneNote"
               },
               "400":{
                  "$ref":"#/responses/BadRequest"
               },
               "401":{
                  "$ref":"#/responses/UnauthorizedRequest"
               },
               "500":{
                  "$ref":"#/responses/InternalErrorServer"
               }
            }
         },
         "get":{
            "tags":[
               "Notes"
            ],
            "summary":"Get all notes",
            "description":"Retrieve a list of notes for the authenticated user",
            "security":[
               {
                  "xAuthToken":[
                     
                  ]
               }
            ],
            "produces":[
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"Successful operation",
                  "schema":{
                     "type":"object",
                     "properties":{
                        "success":{
                           "type":"boolean",
                           "example":true
                        },
                        "status":{
                           "type":"number",
                           "example":200
                        },
                        "message":{
                           "type":"string",
                           "example":"Notes successfully retrieved"
                        },
                        "data":{
                           "type":"array",
                           "items":{
                              "type":"object",
                              "properties":{
                                 "id":{
                                    "type":"string",
                                    "example":"642a09c16a35ca02115ea354"
                                 },
                                 "title":{
                                    "type":"string",
                                    "example":"Work note title"
                                 },
                                 "description":{
                                    "type":"string",
                                    "example":"Work note description"
                                 },
                                 "category":{
                                    "type":"string",
                                    "example":"Work"
                                 },
                                 "completed":{
                                    "type":"boolean",
                                    "example":false
                                 },
                                 "created_at":{
                                    "type":"string",
                                    "example":"2023-04-02T23:03:29.259Z"
                                 },
                                 "updated_at":{
                                    "type":"string",
                                    "example":"2023-04-03T08:11:41.518Z"
                                 },
                                 "user_id":{
                                    "type":"string",
                                    "example":"64189a74314e9f0218a5213c"
                                 }
                              },
                              "example":[
                                 {
                                    "id":"642a09c16a35ca02115ea354",
                                    "title":"Work note title",
                                    "description":"Work note description",
                                    "category":"Work",
                                    "completed":false,
                                    "created_at":"2023-04-02T23:03:29.259Z",
                                    "updated_at":"2023-04-03T08:11:41.518Z",
                                    "user_id":"64189a74314e9f0218a5213c"
                                 },
                                 {
                                    "id":"64298e2b6747aa02118d3c23",
                                    "title":"Home note title",
                                    "description":"Home note description",
                                    "category":"Home",
                                    "completed":true,
                                    "created_at":"2023-04-02T14:16:11.153Z",
                                    "updated_at":"2023-04-03T00:52:42.962Z",
                                    "user_id":"64189a74314e9f0218a5213c"
                                 },
                                 {
                                    "id":"642a08826a35ca02115ea350",
                                    "title":"Personal note title",
                                    "description":"Personal note description",
                                    "category":"Personal",
                                    "completed":false,
                                    "created_at":"2023-04-02T22:58:10.263Z",
                                    "updated_at":"2023-04-02T22:58:10.263Z",
                                    "user_id":"64189a74314e9f0218a5213c"
                                 }
                              ]
                           }
                        }
                     }
                  }
               },
               "400":{
                  "$ref":"#/responses/BadRequest"
               },
               "401":{
                  "$ref":"#/responses/UnauthorizedRequest"
               },
               "500":{
                  "$ref":"#/responses/InternalErrorServer"
               }
            }
         }
      },
      "/notes/{id}":{
         "get":{
            "tags":[
               "Notes"
            ],
            "summary":"Get a note by ID",
            "description":"Retrieve a note by its ID",
            "security":[
               {
                  "xAuthToken":[
                     
                  ]
               }
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"id",
                  "type":"string",
                  "description":"ID of the note to retrieve",
                  "required":true
               }
            ],
            "responses":{
               "200":{
                  "$ref":"#/responses/SuccessOneNote"
               },
               "400":{
                  "$ref":"#/responses/BadRequest"
               },
               "401":{
                  "$ref":"#/responses/UnauthorizedRequest"
               },
               "500":{
                  "$ref":"#/responses/InternalErrorServer"
               }
            }
         },
         "put":{
            "tags":[
               "Notes"
            ],
            "summary":"Update an existing  note",
            "description":"Creates a new note with the given title, description, category and user id.",
            "security":[
               {
                  "xAuthToken":[
                     
                  ]
               }
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"id",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"title",
                  "description":"Title of the note",
                  "in":"formData",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"description",
                  "description":"Description of the note",
                  "in":"formData",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"completed",
                  "description":"Status of the note (completed or not completed)",
                  "in":"formData",
                  "type":"boolean",
                  "required":true
               },
               {
                  "name":"category",
                  "description":"Category of the note (\"Home\", \"Work\" or \"Personal\")",
                  "in":"formData",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "Home",
                     "Work",
                     "Personal"
                  ]
               }
            ],
            "responses":{
               "200":{
                  "$ref":"#/responses/SuccessOneNote"
               },
               "400":{
                  "$ref":"#/responses/BadRequest"
               },
               "401":{
                  "$ref":"#/responses/UnauthorizedRequest"
               },
               "500":{
                  "$ref":"#/responses/InternalErrorServer"
               }
            }
         },
         "patch":{
            "tags":[
               "Notes"
            ],
            "summary":"Update the completed status of a note",
            "description":"Update the `completed` attribute of the note with the specified `id`",
            "security":[
               {
                  "xAuthToken":[
                     
                  ]
               }
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"id",
                  "description":"ID of the note to update",
                  "in":"path",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"completed",
                  "description":"New value for the `completed` attribute",
                  "in":"formData",
                  "required":true,
                  "type":"boolean"
               }
            ],
            "responses":{
               "200":{
                  "description":"Successfully updated the note's completed status",
                  "schema":{
                     "type":"object",
                     "properties":{
                        "success":{
                           "type":"boolean",
                           "example":true
                        },
                        "status":{
                           "type":"number",
                           "example":200
                        },
                        "message":{
                           "type":"string",
                           "example":"Note successfully updated"
                        },
                        "data":{
                           "type":"object",
                           "properties":{
                              "id":{
                                 "type":"string",
                                 "example":"643e531dc2507a0211370c94"
                              },
                              "title":{
                                 "type":"string",
                                 "example":"Practice WebApp UI"
                              },
                              "description":{
                                 "type":"string",
                                 "example":"Finish the development of the UI Automation Practice WebApp"
                              },
                              "completed":{
                                 "type":"boolean",
                                 "example":true
                              },
                              "created_at":{
                                 "type":"string",
                                 "example":"2023-02-19T16:39:48.971Z"
                              },
                              "updated_at":{
                                 "type":"string",
                                 "example":"2023-02-21T10:15:29.485Z"
                              },
                              "category":{
                                 "type":"string",
                                 "example":"Home"
                              },
                              "user_id":{
                                 "type":"string",
                                 "example":"64189a74314e9f0218a5213c"
                              }
                           }
                        }
                     }
                  }
               }
            }
         },
         "delete":{
            "summary":"Delete a note by ID",
            "tags":[
               "Notes"
            ],
            "description":"Deletes a note with the specified ID.",
            "security":[
               {
                  "xAuthToken":[
                     
                  ]
               }
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"id",
                  "required":true,
                  "type":"string",
                  "description":"ID of the note to delete"
               }
            ],
            "responses":{
               "200":{
                  "$ref":"#/responses/Success"
               },
               "400":{
                  "$ref":"#/responses/BadRequest"
               },
               "401":{
                  "$ref":"#/responses/UnauthorizedRequest"
               },
               "500":{
                  "$ref":"#/responses/InternalErrorServer"
               }
            }
         }
      }
   },
   "definitions":{
      "Note":{
         "type":"object",
         "properties":{
            "success":{
               "type":"boolean",
               "example":true
            },
            "status":{
               "type":"integer",
               "example":200
            },
            "message":{
               "type":"string",
               "example":"Note successfully created"
            },
            "data":{
               "type":"object",
               "properties":{
                  "id":{
                     "type":"string",
                     "example":"643e531dc2507a0211370c94"
                  },
                  "title":{
                     "type":"string",
                     "example":"Practice WebApp UI"
                  },
                  "description":{
                     "type":"string",
                     "example":"Finish the development of the UI Automation Practice WebApp"
                  },
                  "completed":{
                     "type":"boolean",
                     "example":false
                  },
                  "created_at":{
                     "type":"string",
                     "format":"date-time",
                     "example":"2023-02-19T16:39:48.971Z"
                  },
                  "updated_at":{
                     "type":"string",
                     "format":"date-time",
                     "example":"2023-02-19T16:39:48.971Z"
                  },
                  "category":{
                     "type":"string",
                     "example":"Home"
                  },
                  "user_id":{
                     "type":"string",
                     "example":"64189a74314e9f0218a5213c"
                  }
               }
            }
         }
      }
   },
   "responses":{
      "Success":{
         "description":"Successful Request",
         "schema":{
            "type":"object",
            "properties":{
               "success":{
                  "type":"boolean",
                  "example":true
               },
               "status":{
                  "type":"integer",
                  "example":200
               },
               "message":{
                  "type":"string",
                  "example":"Successful Request"
               }
            }
         }
      },
      "SuccessOneNote":{
         "description":"Successful Request",
         "schema":{
            "type":"object",
            "properties":{
               "success":{
                  "type":"boolean",
                  "example":true
               },
               "status":{
                  "type":"integer",
                  "example":200
               },
               "message":{
                  "type":"string",
                  "example":"Successful Request"
               },
               "data":{
                  "type":"object",
                  "properties":{
                     "id":{
                        "type":"string",
                        "example":"643e531dc2507a0211370c94"
                     },
                     "title":{
                        "type":"string",
                        "example":"Practice WebApp UI"
                     },
                     "description":{
                        "type":"string",
                        "example":"Finish the development of the UI Automation Practice WebApp"
                     },
                     "completed":{
                        "type":"boolean",
                        "example":false
                     },
                     "created_at":{
                        "type":"string",
                        "format":"date-time",
                        "example":"2023-02-19T16:39:48.971Z"
                     },
                     "updated_at":{
                        "type":"string",
                        "format":"date-time",
                        "example":"2023-02-19T16:39:48.971Z"
                     },
                     "category":{
                        "type":"string",
                        "example":"Home"
                     },
                     "user_id":{
                        "type":"string",
                        "example":"64189a74314e9f0218a5213c"
                     }
                  }
               }
            }
         }
      },
      "BadRequest":{
         "description":"Bad Request",
         "schema":{
            "type":"object",
            "properties":{
               "success":{
                  "type":"boolean",
                  "example":false
               },
               "status":{
                  "type":"integer",
                  "example":400
               },
               "message":{
                  "type":"string",
                  "example":"Bad Request"
               }
            }
         }
      },
      "UnauthorizedRequest":{
         "description":"Unauthorized Request",
         "schema":{
            "type":"object",
            "properties":{
               "success":{
                  "type":"boolean",
                  "example":false
               },
               "status":{
                  "type":"integer",
                  "example":401
               },
               "message":{
                  "type":"string",
                  "example":"Unauthorized Request"
               }
            }
         }
      },
      "InternalErrorServer":{
         "description":"Internal Error Server",
         "schema":{
            "type":"object",
            "properties":{
               "success":{
                  "type":"boolean",
                  "example":false
               },
               "status":{
                  "type":"integer",
                  "example":500
               },
               "message":{
                  "type":"string",
                  "example":"Internal Error Server"
               }
            }
         }
      }
   },
   "parameters":{
      
   },
   "tags":[
      
   ]
}